### ODENIYI DAVID TEMILOLUWA

### ASSIGNMENT 1

##### List Assignment (Student Score Entry)

In [33]:
scores = int(input("How many student scores do you want to record?"))
std_score = []
for i in range(scores):
    score = int(input((f"Enter score {i + 1}:")))
    std_score.append(score)
print("Full list of Score: ", std_score)
total = print("Total Score: ", sum(std_score))
highest = print("Highest Score: ", max(std_score))
lowest = print("Lowest Score: ", min(std_score))
average = print("Average Score: ", len(std_score))
ascending_order = print("Ascending order of Score: ", sorted(std_score))
decending_order = print("Decending order of Score: ", sorted(std_score, reverse = True))

How many student scores do you want to record? 3
Enter score 1: 55
Enter score 2: 78
Enter score 3: 88

Full list of Score:  [55, 78, 88]
Total Score:  221
Highest Score:  88
Lowest Score:  55
Average Score:  3
Ascending order of Score:  [55, 78, 88]
Decending order of Score:  [88, 78, 55]

### ASSIGNMENT 2

##### Tuple Assignment (Team Selection)

In [27]:
top_products = int(input("How many top-selling products this week?"))
products = []
for i in range(top_products):
    item = input((f"Enter product {i + 1}:"))
    products.append(item)

top_products = tuple(products)
print("\nTop-Selling Products: ", top_products)

print("\nFirst Product: ", top_products[0])
print("Last Product: ", top_products[-1])
print("Middle Product: ", top_products[-2])

print("\nTop three Product: ", top_products[0:3])
print("Last two Product: ", top_products[3:6])

check = input("\nEnter a product to check in the products: ")
print(f"Is {check} in the list?", check in top_products)

print("\nTotal top Products: ",len(top_products))

product_list = list(top_products)
product_list.append(input("Enter a new product: "))
product_list.append(input("Enter a another new product: "))
tuple_form = tuple(product_list)

print("\nUpdated Product List: ", tuple_form)

How many top-selling products this week? 5
Enter product 1: Pen
Enter product 2: Pencil
Enter product 3: Ruler
Enter product 4: Sugar
Enter product 5: Rice

Top-Selling Products:  ('Pen', 'Pencil', 'Ruler', 'Sugar', 'Rice')

First Product:  Pen
Last Product:  Rice
Middle Product:  Sugar

Top three Product:  ('Pen', 'Pencil', 'Ruler')
Last two Product:  ('Sugar', 'Rice')

Enter a product to check in the products:  Beans

Is Beans in the list? False

Total top Products:  5

Enter a new product:  Beans
Enter a another new product:  Fish

Updated Product List:  ('Pen', 'Pencil', 'Ruler', 'Sugar', 'Rice', 'Beans', 'Fish')

### ASSIGNMENT 3

##### Set Assignment (Course Enrollment Checker)

In [112]:
num_courses = int(input("How many courses in Dept A?"))
courses_a = {input(f"Enter course {i + 1} for DEPT A:: ") for i in range(num_courses)}


num_courses = int(input("\nHow many courses in Dept B?"))
courses_b = {input(f"Enter course {i + 1} for DEPT B: ") for i in range(num_courses)}


print("\nCourses in Dept. A: ", courses_a)
print("Courses in Dept. B: ", courses_b)

print("\nCommon Courses: ", courses_a.intersection(courses_b))
print("Courses Only in Dept. A: ", courses_a.difference(courses_b))
print("All Offered Courses: ", courses_a.union(courses_b))

How many courses in Dept A? 2
Enter course 1 for DEPT A::  MTH122
Enter course 2 for DEPT A::  CSC122

How many courses in Dept B? 2
Enter course 1 for DEPT B:  PHY122
Enter course 2 for DEPT B:  MTH122

Courses in Dept. A:  {'CSC122', 'MTH122'}
Courses in Dept. B:  {'PHY122', 'MTH122'}

Common Courses:  {'MTH122'}
Courses Only in Dept. A:  {'CSC122'}
All Offered Courses:  {'CSC122', 'PHY122', 'MTH122'}

### ASSIGNMENT 4

##### Dictionary Assignment (Library Book Inventory)

In [32]:
num_books = int(input("How many books would you like to add? "))
library = {}
for i in range(num_books):
    title = input(f"Enter the title of book {i+1}: ")
    copies = int(input(f"Enter number of copies for '{title}': "))
    library[title] = copies

print("\nLibrary Inventory: ", library)

book_check = input("\nEnter the book title to check copies: ")
print(f"How many copies of '{book_check}'?:", library.get(book_check, "Book not found"))

if book_check in library:
    new_copies = int(input(f"Enter new number of copies for {book_check}: "))
    library[book_check] = new_copies
    print(f"Updated {book_check} copies to {new_copies} ")

del_book = input("\nEnter the title of the book to delete: ")
if del_book in library:
    del library[del_book]
    print(f"Deleted {del_book} from inventory")

new_book = input("\nEnter a new book title to add: ")
library.setdefault(new_book, 1)
print(f"Added new book with default: {new_book}")

print("\nAvailable Books:", library.keys())

print("\nBook Counts:", library.values())

print("\nInventory Details:", library.items())

How many books would you like to add?  2
Enter the title of book 1:  Python Basics
Enter number of copies for 'Python Basics':  5
Enter the title of book 2:  Data Analysis
Enter number of copies for 'Data Analysis':  3

Library Inventory:  {'Python Basics': 5, 'Data Analysis': 3}

Enter the book title to check copies:  Data Analysis

How many copies of 'Data Analysis'?: 3

Enter new number of copies for Data Analysis:  5

Updated Data Analysis copies to 5

Enter the title of the book to delete:  Python Basics

Deleted Python Basics from inventory

Enter a new book title to add:  Java Basics

Added new book with default: Java Basics

Available Books: dict_keys(['Data Analysis', 'Java Basics'])

Book Counts: dict_values([5, 1])

Inventory Details: dict_items([('Data Analysis', 5), ('Java Basics', 1)])

### ASSIGNMENT 5

##### If-Else Assignment (Admission Eligibility Checker)

In [47]:
score = int(input("Enter your JAMB score: "))
if score >= 180:
    print("Eligible for Admission!")
else:
    print("Not eligible, try again next year")

Enter your JAMB score:  220

Eligible for Admission!

### ASSIGNMENT 6

##### If-Elif-Else Assignment (Loan Approval System)

In [58]:
age = int(input("Enter your age: "))
if age < 18:
    print("Not eligible for a loan")
elif age <= 30:
    print("Eligible for student/youth loan")
elif age <= 50:
    print("Eligible for standard loan")
else:
    print("Eligible for senior citizen loan")

Enter your age:  18

Eligible for student/youth loan

### ASSIGNMENT 7

##### Nested If Assignment (Student Grading System)

In [76]:
score = int(input("Enter your score: "))
subject = input("Enter Subject: ")
if score >= 70:
    if subject.lower() == "math":
        print("Excellence in Math")
    else:
        print("Excellent")
elif  50 <= score < 70:
    print("Good")
else:
    print("Fail")

Enter your score:  43
Enter Subject:  Math

Fail

### ASSIGNMENT 8

##### While Loop Assignment (Odd Numbers 1-100)

In [78]:
#Horizontal Version
val = 1
while val <= 100:
    print(val, end = " ")
    val += 2

1 3 5 7 9 11 13 15 17 19 21 23 25 27 29 31 33 35 37 39 41 43 45 47 49 51 53 55 57 59 61 63 65 67 69 71 73 75 77 79 81 83 85 87 89 91 93 95 97 99

In [79]:
#Vertical Version
val = 1
while val <= 100:
    print(val)
    val += 2

1
3
5
7
9
11
13
15
17
19
21
23
25
27
29
31
33
35
37
39
41
43
45
47
49
51
53
55
57
59
61
63
65
67
69
71
73
75
77
79
81
83
85
87
89
91
93
95
97
99

### ASSIGNMENT 9

##### For Loop Assignment (Multiplication Table)

In [81]:
for a in range(1, 13):
    print(f"\nMultiplication Table for", a)
    for b in range(1, 13):
        print(f"{a} × {b} = {a * b}")

Multiplication Table for 1
1 × 1 = 1
1 × 2 = 2
1 × 3 = 3
1 × 4 = 4
1 × 5 = 5
1 × 6 = 6
1 × 7 = 7
1 × 8 = 8
1 × 9 = 9
1 × 10 = 10
1 × 11 = 11
1 × 12 = 12

Multiplication Table for 2
2 × 1 = 2
2 × 2 = 4
2 × 3 = 6
2 × 4 = 8
2 × 5 = 10
2 × 6 = 12
2 × 7 = 14
2 × 8 = 16
2 × 9 = 18
2 × 10 = 20
2 × 11 = 22
2 × 12 = 24

Multiplication Table for 3
3 × 1 = 3
3 × 2 = 6
3 × 3 = 9
3 × 4 = 12
3 × 5 = 15
3 × 6 = 18
3 × 7 = 21
3 × 8 = 24
3 × 9 = 27
3 × 10 = 30
3 × 11 = 33
3 × 12 = 36

Multiplication Table for 4
4 × 1 = 4
4 × 2 = 8
4 × 3 = 12
4 × 4 = 16
4 × 5 = 20
4 × 6 = 24
4 × 7 = 28
4 × 8 = 32
4 × 9 = 36
4 × 10 = 40
4 × 11 = 44
4 × 12 = 48

Multiplication Table for 5
5 × 1 = 5
5 × 2 = 10
5 × 3 = 15
5 × 4 = 20
5 × 5 = 25
5 × 6 = 30
5 × 7 = 35
5 × 8 = 40
5 × 9 = 45
5 × 10 = 50
5 × 11 = 55
5 × 12 = 60

Multiplication Table for 6
6 × 1 = 6
6 × 2 = 12
6 × 3 = 18
6 × 4 = 24
6 × 5 = 30
6 × 6 = 36
6 × 7 = 42
6 × 8 = 48
6 × 9 = 54
6 × 10 = 60
6 × 11 = 66
6 × 12 = 72

Multiplication Table for 7
7 × 1 = 7
7 × 2 = 14
7 × 3 = 21
7 × 4 = 28
7 × 5 = 35
7 × 6 = 42
7 × 7 = 49
7 × 8 = 56
7 × 9 = 63
7 × 10 = 70
7 × 11 = 77
7 × 12 = 84

Multiplication Table for 8
8 × 1 = 8
8 × 2 = 16
8 × 3 = 24
8 × 4 = 32
8 × 5 = 40
8 × 6 = 48
8 × 7 = 56
8 × 8 = 64
8 × 9 = 72
8 × 10 = 80
8 × 11 = 88
8 × 12 = 96

Multiplication Table for 9
9 × 1 = 9
9 × 2 = 18
9 × 3 = 27
9 × 4 = 36
9 × 5 = 45
9 × 6 = 54
9 × 7 = 63
9 × 8 = 72
9 × 9 = 81
9 × 10 = 90
9 × 11 = 99
9 × 12 = 108

Multiplication Table for 10
10 × 1 = 10
10 × 2 = 20
10 × 3 = 30
10 × 4 = 40
10 × 5 = 50
10 × 6 = 60
10 × 7 = 70
10 × 8 = 80
10 × 9 = 90
10 × 10 = 100
10 × 11 = 110
10 × 12 = 120

Multiplication Table for 11
11 × 1 = 11
11 × 2 = 22
11 × 3 = 33
11 × 4 = 44
11 × 5 = 55
11 × 6 = 66
11 × 7 = 77
11 × 8 = 88
11 × 9 = 99
11 × 10 = 110
11 × 11 = 121
11 × 12 = 132

Multiplication Table for 12
12 × 1 = 12
12 × 2 = 24
12 × 3 = 36
12 × 4 = 48
12 × 5 = 60
12 × 6 = 72
12 × 7 = 84
12 × 8 = 96
12 × 9 = 108
12 × 10 = 120
12 × 11 = 132
12 × 12 = 144